<!DOCTYPE html>
<html>
  <head>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-32906329-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-32906329-1');
    </script>
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/bootstrap/css/bootstrap.min.css">
    <script src="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/jquery.min.js"></script>
    <script src="https://jacobmgreer.github.io/IMDB-Tracker/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://jacobmgreer.github.io/Same-Old-Same-Old/extras/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>
      body {background: #2F3438; color: #C5DAEB;}
      .feature-icon {
      display: inline-flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      height: 4rem;
      font-size: 2rem;
      color: #A5B6C4;}
      a {color:#85939E;}
      a:hover {color:#BACEDE;}
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">IMDb Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Film Lists
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="https://jacobmgreer.github.io/IMDB-Tracker/Oscars">Oscar Winners</a></li>
                <li><a class="dropdown-item" href="https://jacobmgreer.github.io/IMDB-Tracker/NYT1000">NYT's 1,000 Essential Films</a></li>
                <li><a class="dropdown-item disabled" href="#">AFI's 100 Best Films</a></li>
                <li><a class="dropdown-item disabled" href="#">Roger Ebert's 'Great Movies'</a></li>
                <li><a class="dropdown-item disabled" href="#">Cannes Film Festival</a></li>
                <li><a class="dropdown-item disabled" href="#">The Criterion Collection</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="container" id="featured-2">
          <div class="row g-2 row-cols-1 row-cols-lg-2">
            <div class="feature col">
              <div class="feature-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-film"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg></div>
              <b>Academy of Motion Picture Arts and Sciences</b>
              <h3>Oscar Winners</h3>
              <p>"Given annually by the Academy of Motion Picture Arts and Sciences, the awards are an international recognition of excellence in cinematic achievements, as assessed by the Academy's voting membership."</p>
              <a href="https://jacobmgreer.github.io/IMDB-Tracker/Oscars">Jacob's Progress</a>
            </div>
            <div class="feature col">
              <div class="feature-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-film"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg></div>
              <b>The New York Times</b>
              <h3>Essential 1,000 Films to See</h3>
              <p>"In this book are one thousand complete film reviews from The New York Times, beginning in 1927 with The Jazz Singer, generally considered the first talkie, and running to the end of 2002."</p>
              <a href="https://jacobmgreer.github.io/IMDB-Tracker/NYT1000">Jacob's Progress</a>
            </div>
         </div>
         <div class="row g-2 row-cols-1 row-cols-lg-2">
            <div class="feature col">
              <div class="feature-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-film"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg></div>
              <b>American Film Institute</b>
              <h3>100 Years...100 Movies</h3>
              <p>"A 'definitive selection of the 100 greatest American movies of all time, as determined by more than 1,500 leaders from the American film community.' The 400 Nominated Films (original) were feature-length fictional movies produced between 1912 and 1996 'with the goal of amassing a capsule of the first 100 years of American cinema, across decades and across genres.'"</p>
              <p>
               Two versions of the list exist: the original 1998 selection and another a 10th Anniversary selection in 2007 (added eligibility from 1997 to 2005).
              </p>
              <p>
                <b>Both Lists Coming Soon!</b>
              </p>
            </div>
            <div class="feature col">
              <div class="feature-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-film"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg></div>
              <b>Chicago Sun-Times</b>
              <h3>Roger Ebert</h3>
              <p>"One of the gifts a movie lover can give another is the title of a wonderful film they have not yet discovered. Here are more than 300 reconsiderations and appreciations of movies from the distant past to the recent past, all of movies that I consider worthy of being called 'great.'" A series of 4 books were published in 2003, 2006, 2011, and 2016.</p>
              <p>
              Online and in-print, Roger Ebert recommended 364 films as "Great Movies."
              </p>
              <p>
                <b>Coming Soon!</b>
              </p>
            </div>
          </div>
          <div class="row g-2 row-cols-1 row-cols-lg-2">
            <div class="feature col">
              <div class="feature-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-film"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg></div>
              <b>Cannes Film Festival</b>
              <h3>Palme d'Or Winners</h3>
              <p>"The Festival de Cannes has remained faithful to its founding purpose: to draw attention to and raise the profile of films, with the aim of contributing towards the development of cinema, boosting the film industry worldwide and celebrating cinema at an international level." The first festival was held in 1946, though it was originally scheduled for 1939 (but was postponed by France entering WWII).</p>
              <p>
                <b>Coming Soon!</b>
              </p>
            </div>
            <div class="feature col">
              <div class="feature-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-film"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg></div>
              <b>Private Distribution Company</b>
              <h3>The Criterion Collection</h3>
              <p>"We aim to reflect the breadth of filmed expression. We try not to be restrictive or snobby about what kinds of films are appropriate. An auteur classic, a Hollywood blockbuster, and an independent B horror film all have to be taken on their own terms. All we ask is that each film in the collection be an exemplary film of its kind."</p>
              <p>
                <b>Coming Soon!</b>
              </p>
            </div>
          </div>
      </div>
    </main>
    <script>feather.replace()</script>
  </body>
</html>